.comments{
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;

  .write{
    display: flex;
    gap: 10px;
    align-items: center;

    img{
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    input{
      flex: auto;
      margin-right: 10px;
      border: none;
      border-bottom: 1px solid lightgrey;
    }
  }

  .info{
    display: flex;
    flex-direction: column;

    

    .comment{
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 0px 20px;

      

      span{

        img{
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }

        flex: 1;
        font-size: 16px;
        font-weight: 600;
        
        
      }

      p{
        flex: 10;
        font-size: 14px;
        
      }
    }
  }
}