@import '../../style.scss';

.rightBar{
  @include themify($themes){


  position: sticky;
  top: 61px;
  height: calc(100vh - 61px);
  overflow: scroll;
  flex:3;
  background-color: themed('bgSoft');

  &::-webkit-scrollbar{
    display: none;
  }

  .container{
    display: flex;
    flex-direction: column;

    
    .item{
      background-color: themed('bg');
      padding: 5px 15px;
      margin-left: 10px;
      margin-bottom: 10px;
      
      
      
      p{
        font-weight: normal;
        font-size: 16px;
        color:themed('textColorSoft');
        margin-bottom: 10px;
      }

      .scroll{
        overflow:scroll;
        height:max(200px,25vh);

        &::-webkit-scrollbar{
          display: none;
        }
      }

      .user{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;  
        
        .userInfo{
          display: flex;
          align-items: center;
          gap: 10px;
          position: relative;

          img{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }
          
          .online{
            position: absolute;
            top: 0px;
            left: 29px;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background-color: #2bff00;
          }

          span{
            font-weight: 600;
            color:themed('textColor');
            font-size: 14px;
            margin-right: 10px;
          }

          p{
            font-size: 12px;
          }
        }

        span{
          color:themed('textColorSoft');
          align-self:inherit;
        }

        .buttons{
          button{
            border: none;
            width: 5rem;
            padding: 3px 5px;
            margin-right: 10px;
            color: rgb(255, 255, 255);
            border-radius: 10px;
          }

          .follow{
            background-color: rgb(71, 71, 252);
          }

          .dismiss{
            background-color: rgb(253, 96, 96);
          }
        }
      }
    }
  }
}
}